footer {
  background-color: #f8f8f8;
  padding: 1.2rem;
  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
      a:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }
}
